{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <style>
        body{
            background-color:pink;
        }
    </style>  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <u> <h1 style="color:grey; text-align:center"> LOGIN FORM</h1></u>
    <form>
        USERNAME:<input type="text"><br><br>
        PASSWORD:<input type="password">
    </form>
    </body>
</html>
